<table>
    <thead>
      <tr>
        <th><b>Congragulations ,you have booked train Succesfully</b></th>
        <!-- <th>Value</th> -->
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
        <tr>
          <td>Name</td>
          <td>{{ booking.name }}</td>
        </tr>
        <tr>
          <td>User ID</td>
          <td>{{ booking.userid }}</td>
        </tr>
        <tr>
          <td>Train Number</td>
          <td>{{ booking.trainno }}</td>
        </tr>
        <tr>
          <td>Train Name</td>
          <td>{{ booking.train_name }}</td>
        </tr>
        <tr>
          <td>Source</td>
          <td>{{ booking.source }}</td>
        </tr>
        <tr>
          <td>Destination</td>
          <td>{{ booking.dest }}</td>
        </tr>
        <tr>
          <td>Number of Seats</td>
          <td>{{ booking.nos }}</td>
        </tr>
        <tr>
          <td>Ticket Price</td>
          <td>{{ booking.ticket_price }}</td>
        </tr>
        <tr>
          <td>Date</td>
          <td>{{ booking.date }}</td>
        </tr>
        <tr>
          <td>Time</td>
          <td>{{ booking.time }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{ booking.get_status_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  